@import "font.scss";
.loading {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
* {
  font-family: NotoSansKR;
}
