/* your css code */
.text {
  display: flex;
  justify-content: space-between;
  height: 13%;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.City {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  &_top {
    &_select {
      width: 100%;
      border: 1px solid #cccccc;
      color: rgb(56, 56, 56);
      font-size: large;
      height: 40px;
      // overflow-y: hidden;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  &_text {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    width: 40%;
    border-radius: 1px;
    &_span {
      padding-left: 15px;
      font-size: 13px;
    }
  }
  &_bottom {
    display: flex;
    width: 100%;
    height: 69%;
    justify-content: space-between;
    &_check {
      position: relative;
      width: 32%;
      height: 100%;
      background-color: #c8daff;
      border-radius: 10px;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65%;
      }
      &_name {
        font-size: 20px;
        padding-top: 10px;
        z-index: 3;
      }
      &_person {
        font-size: 35px;
        color: #4a68a5;
        font-weight: bold;
        z-index: 2;
      }
      &_img {
        position: absolute;
        top: 52%;
        left: 50%;
        fill: #a2bef6;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    &_death {
      position: relative;
      width: 32%;
      height: 100%;
      background-color: #ffc8c8;
      border-radius: 10px;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65%;
      }
      &_name {
        font-size: 20px;
        z-index: 3;
        padding-top: 10px;
      }
      &_person {
        z-index: 2;
        font-size: 35px;

        color: #a14040;
        font-weight: bold;
      }
      &_img {
        position: absolute;
        top: 54%;
        left: 50%;
        width: 100%;
        height: 100%;
        fill: #ffd5d5;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    &_update {
      position: relative;
      width: 32%;
      height: 100%;
      background-color: #c8ebff;
      border-radius: 10px;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65%;
      }
      &_name {
        font-size: 20px;
        z-index: 3;
        padding-top: 10px;
      }
      &_person {
        z-index: 2;
        color: #75abca;
        font-size: 35px;
        font-weight: bold;
      }
      &_img {
        position: absolute;
        top: 64.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        fill: #b7dcf1;
        z-index: 1;
      }
    }
  }
}
svg {
  width: 120%;
  height: 80%;
}
