/* your css code */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.City {
  width: 480px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  padding: 15px;
  &_top {
    &_select {
      width: 480px;
      border: 1px solid #cccccc;
      color: #b0b0b0;
      font-size: large;
      height: 40px;
      overflow: hidden;
    }
  }
  &_text {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    width: 300px;
    height: 40px;
    &_span {
      padding-left: 15px;
      font-size: small;
    }
  }
  &_bottom {
    display: flex;
    width: 480px;
    justify-content: space-between;
    &_check {
      position: relative;
      width: 150px;
      height: 170px;
      background-color: #c8daff;
      border-radius: 10px;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65%;
      }
      &_name {
        padding-top: 10px;
        z-index: 3;
      }
      &_person {
        color: #4a68a5;
        font-size: xx-large;
        font-weight: bold;
        z-index: 2;
      }
      &_img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150.4px;
        height: 150.4px;
        fill: #a2bef6;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    &_death {
      position: relative;
      width: 150px;
      height: 170px;
      background-color: #ffc8c8;
      border-radius: 10px;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65%;
      }
      &_name {
        z-index: 3;
        padding-top: 10px;
      }
      &_person {
        z-index: 2;
        color: #a14040;
        font-size: xx-large;
        font-weight: bold;
      }
      &_img {
        position: absolute;
        top: 56%;
        left: 50%;
        width: 150.4px;
        height: 150.4px;
        fill: #ffd5d5;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    &_update {
      position: relative;
      width: 150px;
      height: 170px;
      background-color: #c8ebff;
      border-radius: 10px;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65%;
      }
      &_name {
        z-index: 3;
        padding-top: 10px;
      }
      &_person {
        z-index: 2;
        color: #75abca;
        font-size: xx-large;
        font-weight: bold;
      }
      &_img {
        position: absolute;
        top: 66.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150.4px;
        height: 150.4px;
        fill: #b7dcf1;
        z-index: 1;
      }
    }
  }
}
